@model Hqub.MusicBrainz.API.Entities.Collections.ArtistList

@{
    ViewData["Title"] = "Artists";
}

<h1>Singers</h1>
<div class="alert-danger">@ViewData["error"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a href="/music/singer/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>
