@model Hqub.MusicBrainz.API.Entities.Collections.ArtistList

@{
    ViewData["Title"] = "Artists";
}

<h1>Singers</h1>
<div class="alert-danger">@ViewData["error"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Tags
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a href="/music/singer/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>  
                </td>
                <td>
                    <span class="badge badge-success">@item.Type</span>

                </td>

                <td>

                    @if (!(item.Tags == null))
                    {
                        @foreach (var t in item.Tags)
                        {

                            <span class="badge badge-primary">@t.Name</span>
                        }}
                </td>
            </tr>
        }
    </tbody>
</table>
